<app-header backButton="/home" logged="true"></app-header>

<ion-content>
  <div *ngIf="isPostulating" class="loading-overlay">
    <div class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Enviando correo...</p>
    </div>
  </div>
  <div *ngIf="postulante" class="mostrar-postulante">
    <div class="title-container">
      <h1 class="titulo">{{ postulante.nombre }} {{ postulante.apellido }}</h1>
      <p class="subtitulo">{{ userConvocatoria?.aceptado ? 'Aceptado' : 'Rechazado' }}</p>
    </div>
    <div class="data">
      <ion-col>
      </ion-col>
      <ion-col class="info-col">
        <strong>Nombre Completo:</strong> 
        <p>{{ postulante.apellido }} {{ postulante.nombre }}</p>
      </ion-col>
    </div>
    <div class="data">
      <ion-col>
      </ion-col>
      <ion-col class="info-col">
        <strong>Carrera:</strong> 
        <p>{{ postulante.carrera }}</p>
      </ion-col>
    </div>
    <div class="data">
      <ion-col>
      </ion-col>
      <ion-col class="info-col">
        <strong>Descripción:</strong>
        <p>{{ postulante.descripcion }}</p>
      </ion-col>
    </div>
    <div class="data">
      <ion-col>
      </ion-col>
      <ion-col class="info-col">
        <strong>Correo:</strong>
        <p>{{ postulante.correo }}</p>
      </ion-col>
    </div>
    <div class="data">
      <ion-col>
      </ion-col>
      <ion-col class="info-col">
        <strong>Celular:</strong>
        <p>{{ postulante.celular }}</p>
      </ion-col>
    </div>
  </div>

  <div class="button-container" *ngIf="!userConvocatoria?.aceptado">
    <ion-button class="main-button" [disabled]="isPostulating" (click)="cambiarEstado(false)">Rechazar</ion-button>
    <ion-button class="secondary-button" [disabled]="isPostulating" (click)="cambiarEstado(true)" >Aceptar</ion-button>
  </div>
</ion-content>
