<app-header backButton="/home" logged="true"></app-header>

<ion-content *ngIf="postulante">
  <div *ngIf="isPostulating" class="loading-overlay">
    <div class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Enviando correo...</p>
    </div>
  </div>
  <div *ngIf="postulante" class="mostrar-postulante">
    <div class="title-container">
      <h1 class="titulo">{{ postulante.nombre }} {{ postulante.apellido }}</h1>
      <p class="subtitulo">{{ postulante.datosAdicionales.estado}}</p>
    </div>
    <div class="data">
      <ion-col>
      </ion-col>
      <ion-col class="info-col">
        <strong>Nombre Completo:</strong> 
        <p>{{ postulante.apellido }} {{ postulante.nombre }}</p>
      </ion-col>
    </div>
    <div class="data">
      <ion-col>
      </ion-col>
      <ion-col class="info-col">
        <strong>Carrera:</strong> 
        <p>{{ postulante.carrera }}</p>
      </ion-col>
    </div>
    <div class="data">
      <ion-col>
      </ion-col>
      <ion-col class="info-col">
        <strong>Descripción:</strong>
        <p>{{ postulante.descripcion }}</p>
      </ion-col>
    </div>
    <div class="data">
      <ion-col>
      </ion-col>
      <ion-col class="info-col">
        <strong>Correo:</strong>
        <p>{{ postulante.correo }}</p>
      </ion-col>
    </div>
    <div class="data">
      <ion-col>
      </ion-col>
      <ion-col class="info-col">
        <strong>Celular:</strong>
        <p>{{ postulante.celular }}</p>
      </ion-col>
    </div>
    <pdf-viewer *ngIf="pdfSrc" [src]="pdfSrc"
    [render-text]="true" 
    [original-size]="false" 
    style="width: 100%; height: 500px"></pdf-viewer>
    @if (downloading) {
      <ion-progress-bar [value]="progress"></ion-progress-bar>
      }
    <ion-button class="main-button" [disabled]="downloading" (click)="download()">Descargar</ion-button> <br />
  </div>

  <!-- <div class="button-container" *ngIf="(postulante.datosAdicionales.estado === 'Pendiente') && (estado!='En curso' && estado!='Finalizado') ">
    <ion-button class="main-button" [disabled]="isPostulating" (click)="cambiarEstado('Rechazado')">Rechazar</ion-button>
    <ion-button class="secondary-button" *ngIf="this.etapa==='preseleccionar'" [disabled]="isPostulating" (click)="cambiarEstado('Preseleccionado')" >Preseleccionar</ion-button>
    <ion-button class="secondary-button" *ngIf="this.etapa==='seleccionar'" [disabled]="isPostulating" (click)="cambiarEstado('Aceptado')" >Aceptar</ion-button>
  </div> -->
  <div class="button-container" *ngIf="(postulante.datosAdicionales.estado === 'Pendiente') && etapa==='preseleccionar'">
    <ion-button class="main-button" [disabled]="isPostulating" (click)="cambiarEstado('Rechazado')">Rechazar</ion-button>
    <ion-button class="secondary-button" [disabled]="isPostulating" (click)="cambiarEstado('Preseleccionado')" >Preseleccionar</ion-button>
  </div>
  <div class="button-container" *ngIf="(postulante.datosAdicionales.estado === 'Preseleccionado') && etapa==='seleccionar'">
    <ion-button class="main-button" [disabled]="isPostulating" (click)="cambiarEstado('Rechazado')">Rechazar</ion-button>
    <ion-button class="secondary-button" [disabled]="isPostulating" (click)="cambiarEstado('Aceptado')" >Aceptar</ion-button>
  </div>
</ion-content>
