
.info-empresa-container {
    display: flex;
    margin: 10px;
    gap: 20px;
}
.info-empresa-container img{
    height: 50px;
    width: 50px;
}
.info-empresa-container p{
    color: black;
    font-weight: bold;
    margin: 0;
}
.info-empresa-container h2{
    color: #544C4C;
    font-size: 12px;
    margin: 0;
}
.linea {
    border-top: 1px solid #544C4C;
    border-radius: 15px;
}
.container-mostrar-convocatoria img{
    width: 70%;
    height: 70%;
    margin: 10px;
}
.info-pasantia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.container-mostrar-convocatoria ion-buttons{
    height: 15%;                 
}
.container-mostrar-convocatoria ion-button{
    --background: #060A30; 
    --color: white;  
    --border-radius: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px;               
}
.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .modal-postular {
    --height: auto;
  }
.upload {
    --background: #060A30;
    --color: white;
    margin-bottom: 20px;
    width: 30%;
    height: 40px;
    --border-radius: 10px;
}  
.secondary-button {
    --background: #A90B71;
    --color: white;
    margin-bottom: 20px;
    width: 30%;
    height: 40px;
    --border-radius: 10px;
} 
.main-button {
    --background: #060A30;
    --color: white;
    margin-bottom: 20px;
    width: 30%;
    height: 40px;
    --border-radius: 10px;
} 
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    color: var(--ion-color-primary);
  }

