<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item button (click)="navigateTo('home')" lines="none" class="menu-item">
          <div class="icon-container">
            <ion-icon name="home-outline" class="minimal-icon"></ion-icon>
            <ion-label class="menu-label">Home</ion-label>
          </div>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item button (click)="navigateTo('perfil-postulante')" lines="none" class="menu-item">
          <div class="icon-container">
            <ion-icon name="person-outline" class="minimal-icon"></ion-icon>
            <ion-label class="menu-label">Perfil</ion-label>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
