ion-footer {
    background-color: #f8f8f8; 
    .menu-item {
      text-align: center; 
      --color: black; 
      --padding-start: 0;
      --padding-end: 0;
  
      .icon-container {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        height: 100%; 
        width: 100%; 
      }
    }
    ion-col {
        padding: 0; 
      }
  
    .minimal-icon {
      font-size: 25px; 
      margin: 0 auto; 
    }
  
    .menu-label {
      font-size: 10px;
      margin-top: 2px; 
      text-align: center; 
    }
  }