

.title-container {
  padding-left: 16px; 
  margin-top: 16px; 
}

.titles-container {
  display: flex;
}

ion-title.small-title {
  font-size: 17px;
  color: #2C3E50;
  font-weight: bold;
}

ion-button.small-button {
  --background: #060A30;
  --border-radius: 10px;
  font-size: 12px; 
  margin-top: 8px;
  margin-left: 6px;
  padding: 0 12px;
  height: 30px; 
  width: 125px;
  display: inline-block; 
  text-align: center; 
  text-transform: none; 
}
.titles ion-col{
  color: #2C3E50;
  font-weight: bold;
  font-size: 20px;
}
.data {
  background: #FFFFFF;
  margin-bottom: 15px;
  border-radius: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
}
.data ion-col{
  color: #2C3E50;
  font-weight: bold;
}
.data ion-icon{
  font-size: 40px;
  color: #060A30;
  display: flex;
  justify-self: end;
}
ion-button.second-button {
  --background: #A90B71;
  --border-radius: 10px;
  font-size: 12px; 
  margin-top: 8px;
  margin-left: 6px;
  padding: 0 12px;
  height: 30px; 
  width: 125px;
  display: inline-block; 
  text-align: center; 
  text-transform: none; 
  color: #060A30;
}
.container-postulant-img {
  margin: 0;
  width: 90%;
}
.label-home p{
  color: black;
  font-weight: bold;
}
.label-home_default{
   color: #544C4C;
   font-size: 12px;
}
.label-home_state1{
  font-size: 12px;
  color: #0015FF !important;
}
.label-home_state2{
  font-size: 12px;
  color: #2FFF00 !important;
}
.label-home_state3{
  font-size: 12px;
  color: #C9E512 !important;
}
.label-home_state4{
  font-size: 12px;
  color: #544C4C !important;
}
.label-home {
  display: flex;
  flex-direction: column; 
}

.content-row {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.postulantes {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
}