

.title-container {
  padding-left: 16px; 
  margin-top: 16px; 
}

.titles-container {
  display: flex;
}

ion-title.small-title {
  font-size: 17px;
  color: #2C3E50;
  font-weight: bold;
}

ion-button.small-button {
  --background: #060A30;
  --border-radius: 10px;
  font-size: 12px; 
  margin-top: 8px;
  margin-left: 6px;
  padding: 0 12px;
  height: 30px; 
  width: 125px;
  display: inline-block; 
  text-align: center; 
  text-transform: none; 
}
.titles ion-col{
  color: #2C3E50;
  font-weight: bold;
  font-size: 20px;
}
.data {
  background: #FFFFFF;
  margin-bottom: 15px;
  border-radius: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
}
.data ion-col{
  color: #2C3E50;
  font-weight: bold;
}
.data ion-icon{
  font-size: 40px;
  color: #060A30;
  display: flex;
  justify-self: end;
}
