<ion-content>
  <app-header  logged="true" title="Mis Convocatorias"></app-header>

  <div class="title-container">
    <div class="titles-container">
      <!-- <h1>Mis Convocatorias</h1> -->
      <ion-button [ngClass]="isVigente ? 'isVigente' : 'second-button' " (click)="cargarConvocatoriasVigentes()">
        Vigentes
      </ion-button>
      <ion-button class="small-button" [ngClass]="isVigente ? 'small-button' : 'isNotVigente' "  (click)="cargarConvocatoriasNoVigentes()">
        No Vigentes
      </ion-button>
      <ion-button class="small-button" routerLink="/login/register/register-convocatoria">
        Nueva <ion-icon name="add-outline" style="font-size: 25px;"></ion-icon>
      </ion-button>
    </div>
    <ion-grid [fixed]="true">
      <ion-row class="titles">
        <ion-col *ngFor="let title of titles">{{title}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid [fixed]="true">
      <ion-row class="data" *ngFor="let item of list">
        <ion-col >{{item.titulo}}</ion-col>
        <ion-col >{{item.postulantes}}</ion-col>
        <ion-col><ion-icon name="chevron-forward-outline" (click)="mostrarConvocatoria(item.id)"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-bottom-menu></app-bottom-menu>