/* Definición de colores */
:root {
  --font: 'Nunito', sans-serif;
  --color-background: #060A30;
  --color-primary-dark: #1D133B;
  --color-accent: #A90B71;
  --color-primary-light: #0E1239;
  --color-highlight: #EE40A1;
}

/* Aplicar los estilos globales */
body {
  font-family: var(--font);
  background-color: var(--color-background);
  color: white;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-accent);
}

/* Header styles */
header {
  background-color: var(--color-primary-dark);
  color: var(--color-highlight);
  padding: 20px;
  text-align: center;
}

/* Primary button style */
button.primary {
  background-color: var(--color-accent);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button.primary:hover {
  background-color: var(--color-primary-light);
}

/* Links */
a {
  color: var(--color-highlight);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  background-color: var(--color-primary-light);
  color: var(--color-accent);
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Container */
.container {
  padding: 20px;
  background-color: var(--color-primary-dark);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
