// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$font: "Nunito", sans-serif;
$color-background: #060A30;
$color-primary-dark: #1D133B;
$color-accent: #A90B71;
$color-primary-light: #0E1239;
$color-highlight: #EE40A1;
