<app-header backButton="/login/register"></app-header>
<ion-content>
  <div class="form-container">
    <h1>Datos Empresa</h1>
    <form action="">
      <ion-label>Nombre*</ion-label>
      <ion-input class="generic-input" label-placement="stacked" fill="outline" placeholder="Nuevo nombre"></ion-input>
      <ion-label>Ubicación*</ion-label>
      <ion-input class="generic-input" label-placement="stacked" fill="outline" placeholder="Nueva ubicación"></ion-input>
      <ion-label>Nit*</ion-label>
      <ion-input class="generic-input" label-placement="stacked" fill="outline" placeholder="Nuevo nit"></ion-input>
      <hr class="divider">
      <h1>Datos Usuario</h1>
      <ion-label>Nombre Usuario*</ion-label>
      <ion-input class="generic-input" label-placement="stacked" fill="outline" placeholder="Nuevo nombre usuario"></ion-input>
      <ion-label>Contraseña*</ion-label>
      <ion-input type="password" class="generic-input" label-placement="stacked" fill="outline" placeholder="Nueva Contraseña">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <ion-label>Confirmar Contraseña*</ion-label>
      <ion-input type="password" class="generic-input" label-placement="stacked" fill="outline" placeholder="Confirmar Contraseña">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <div class="button-container">
        <ion-button class="secondary-button" routerLink="/login/register">Cancelar</ion-button>
        <ion-button class="main-button" (click)="openModal()">Crear</ion-button>
      </div>
    </form>
  </div>
</ion-content>
