<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="main-container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="login-container">
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form action="">
        <ion-input type="text" fill="solid" label="Usuario" labelPlacement="floating" errorText="Usuario inválido"
         >
        </ion-input>
        <ion-input type="password" fill="solid" label="Contraseña" labelPlacement="floating" errorText="Contraseña inválida"
         >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <div>
          <ion-button fxLayoutAlign="center" [routerLink]="['/login/register']">INGRESAR</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>