<app-header></app-header>
<ion-content   class="main-container">
  <ion-card class="login-container">
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form action="">
        <ion-input type="text" fill="solid" label="Usuario" labelPlacement="floating" errorText="Usuario inválido"
         >
        </ion-input>
        <ion-input type="password" fill="solid" label="Contraseña" labelPlacement="floating" errorText="Contraseña inválida"
         >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <div>
          <ion-button class="main-button" fxLayoutAlign="center">INGRESAR</ion-button>
          <p fxLayoutAlign="center">¿No tienes cuenta? <a [routerLink]="['/login/register']">Regístrate</a></p>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>