<app-header backButton="/home" logged="true"></app-header>

<ion-content>
  <div class="header">
    <h2>Convocatoria {{ convocatoriaId }}</h2>
    <span>Nro. postulantes {{ postulantes.length }}</span>
  </div>
  
  <ion-list>
    <ion-item *ngFor="let postulante of postulantes" [routerLink]="['./mostrar-postulante', convocatoriaId, postulante.id, estado, etapa]"
    >
      <ion-label>
        <h2>{{ postulante.nombre }} {{ postulante.apellido }}</h2>
        <p>{{ postulante.correo }}</p>
      </ion-label>
      <ion-note slot="end" *ngIf="postulante.datosAdicionales.estado ">{{ postulante.datosAdicionales.estado }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
<app-bottom-menu></app-bottom-menu>