<ion-header>
  <ion-toolbar>
     <ion-buttons [ngClass]=" backButton ? 'header-buttons': 'one-header-buttons' " class="header-buttons">
      <ion-back-button icon="arrow-undo" color="light"  text="" *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
      <ion-title *ngIf="title" style="color: white;">{{title}}</ion-title>
      <ion-icon name="log-out-outline" size="large" *ngIf="logged" color="light" (click)="signUp()"></ion-icon>
     </ion-buttons>
  </ion-toolbar>
</ion-header>