.form-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.button-container {
  display: flex;
  justify-content: end;
}
  
  img {
    max-width: 100%;
    margin-top: 10px;
  }

  .custom-icon {
    font-size: 200px; 
    margin-right: 8px; 
  }

  ion-item[color="danger"] {
    background-color: #f8d7da; 
    border-left: 4px solid #f44336; 
    margin-top: 10px; 
  }
  
  ion-item[color="danger"] ion-label {
    color: #ffffff;  
    font-size: 14px;  
  }