<ion-header>
  <app-header backButton="/home"></app-header>
</ion-header>


<ion-content [formGroup]="form" class="ion-padding">
  <h1>Nueva Convocatoria</h1>
  <div>
    <ion-label position="stacked" label-placement="stacked">Nueva imagen*</ion-label>
  </div>

  <ion-label style="margin-bottom: 10px;">Imagen Convocatoria*</ion-label>
      <div class="image-container" *ngIf="!image">
        <img src="assets/images/image.png" alt="">
      </div>
      <div class="image-container" *ngIf="image">
        <img [src]="image" alt="Uploaded Image" />
      </div>
      <ion-button fxLayoutAlign="end" class="image-button" (click)="changeImage()">Subir Imagen</ion-button>

  <ion-label>Título*</ion-label>
  <ion-input formControlName="titulo" class="generic-input" placeholder=" Nuevo título" label-placement="stacked"
    fill="outline" maxlength="25"></ion-input>
  <div *ngIf="form.get('titulo')?.errors && (form.get('titulo')?.dirty || form.get('titulo')?.touched)">
    <p *ngIf="form.get('titulo')?.hasError('required')">
      <ion-text color="danger">Campo obligatorio</ion-text>
    </p>
  </div>

  <ion-label position="stacked">Descripción*</ion-label>
  <ion-textarea formControlName="descripcion" placeholder="" class="generic-input" fill="outline" maxlength="150"
    style="height: 150px"></ion-textarea>
  <div *ngIf="form.get('descripcion')?.errors && (form.get('descripcion')?.dirty || form.get('descripcion')?.touched)">
    <p *ngIf="form.get('descripcion')?.hasError('required')">
      <ion-text color="danger">Campo obligatorio</ion-text>
    </p>
  </div>

  <ion-modal #dateModal>
    <ng-template>
      <ion-datetime [value]="selectedDate" (ionChange)="onDateSelected($event)" displayFormat="YYYY-MM-DD"
        pickerFormat="YYYY-MM-DD" showDefaultTime="false"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-label position="stacked">Fecha de Inicio*</ion-label>
  <div style="display: flex;">
    <ion-input class="generic-input" fill="outline" formControlName="fechaInicio" placeholder="Fecha de inicio"
      (click)="openDatetimeModal('fechaInicio')"></ion-input>
    <ion-button fill="clear" (click)="openDatetimeModal('fechaInicio')">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-label position="stacked">Fecha de Finalización*</ion-label>
  <div style="display: flex;">
    <ion-input class="generic-input" fill="outline" formControlName="fechaFin" placeholder="Fecha de finalización"
      (click)="openDatetimeModal('fechaFin')">
    </ion-input>
    <ion-button fill="clear" (click)="openDatetimeModal('fechaFin')">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-item *ngIf="form.hasError('fechaFinMenorQueInicio') && form.get('fechaFin')?.touched" color="danger">
    <p>La fecha de finalización no puede ser menor que la fecha de inicio.</p>
  </ion-item>

  <ion-item style="display: flex; justify-content: space-between; align-items: center;">
    <div style="margin-right: 86px;">
      <ion-label style="margin: 0;">Cantidad Máxima de</ion-label>
      <ion-label style="margin: 0;">Postulantes*</ion-label>
    </div>
    <ion-select formControlName="cantidadMaxPost" interface="popover" placeholder="0" style="width: 100px;">
      <ion-select-option *ngFor="let i of [].constructor(501); let index = index" [value]="index">{{ index
        }}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="button-container">
    <ion-button class="secondary-button" routerLink="/login/register/register-convocatoria">Cancelar</ion-button>
    <ion-button class="main-button" (click)="openModal()" [disabled]="!this.form.valid">Crear</ion-button>
  </div>

</ion-content>