<ion-header>
  <app-header backButton="/home" logged="true"></app-header>
</ion-header>


<ion-content [formGroup]="form" class="ion-padding">
  <h1>Nueva Convocatoria</h1>
  <div>
    <ion-label position="stacked" label-placement="stacked">Nueva imagen*</ion-label>
  </div>

  <ion-label style="margin-bottom: 10px;">Imagen Convocatoria*</ion-label>
      <div class="image-container" *ngIf="!image">
        <img src="assets/images/image.png" alt="">
      </div>
      <div class="image-container" *ngIf="image">
        <img [src]="image" alt="Uploaded Image" />
      </div>
      <ion-button fxLayoutAlign="end" class="image-button" (click)="changeImage()">Subir Imagen</ion-button>
  <div>
  <ion-label>Título*</ion-label>
  </div>
  <ion-input formControlName="titulo" class="generic-input" placeholder=" Nuevo título" label-placement="stacked"
    fill="outline" maxlength="50"></ion-input>
  <div *ngIf="form.get('titulo')?.errors && (form.get('titulo')?.dirty || form.get('titulo')?.touched)">
    <p *ngIf="form.get('titulo')?.hasError('required')">
      <ion-text color="danger">Campo obligatorio</ion-text>
    </p>
  </div>

  <ion-label position="stacked">Descripción*</ion-label>
  <ion-textarea formControlName="descripcion" placeholder="" class="generic-input" fill="outline" maxlength="255"
    style="height: 150px"></ion-textarea>
  <div *ngIf="form.get('descripcion')?.errors && (form.get('descripcion')?.dirty || form.get('descripcion')?.touched)">
    <p *ngIf="form.get('descripcion')?.hasError('required')">
      <ion-text color="danger">Campo obligatorio</ion-text>
    </p>
  </div>

  <ion-modal #dateModal>
    <ng-template>
      <ion-datetime [value]="selectedDate" (ionChange)="onDateSelected($event)" displayFormat="DD-MM-YYYY"
      pickerFormat="DD-MM-YYYY" showDefaultTime="false"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-label position="stacked">Fecha de Inicio de Reclutamiento*</ion-label>
  <div style="display: flex;">
    <ion-input class="generic-input" fill="outline" formControlName="fechaIniReclutamiento" placeholder="Fecha de inicio de reclutamiento"
      (click)="openDatetimeModal('fechaIniReclutamiento')"></ion-input>
    <ion-button fill="clear" (click)="openDatetimeModal('fechaIniReclutamiento')">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-label position="stacked">Fecha de Finalización de Reclutamiento*</ion-label>
  <div style="display: flex;">
    <ion-input class="generic-input" fill="outline" formControlName="fechaFinReclutamiento" placeholder="Fecha de finalización de reclutamiento"
      (click)="openDatetimeModal('fechaFinReclutamiento')"></ion-input>
    <ion-button fill="clear" (click)="openDatetimeModal('fechaFinReclutamiento')">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="form.errors?.['fechaFinReclutamientoMenorInicio']" style="color: red; margin-top: 5px;">
    La fecha de finalización de reclutamiento no puede ser menor que la fecha de inicio de reclutamiento
  </div>

  <ion-label position="stacked">Fecha de Inicio de Selección*</ion-label>
<div style="display: flex;">
  <ion-input class="generic-input" fill="outline" formControlName="fechaIniSeleccion" placeholder="Fecha de inicio de selección"
    (click)="openDatetimeModal('fechaIniSeleccion')"></ion-input>
  <ion-button fill="clear" (click)="openDatetimeModal('fechaIniSeleccion')">
    <ion-icon name="calendar-outline"></ion-icon>
  </ion-button>
</div>

<div *ngIf="form.errors?.['fechaIniSeleccionInvalida']" style="color: red; margin-top: 5px;">
  La fecha de inicio de selección no puede ser menor que la fecha de fin de reclutamiento
</div>

<ion-label position="stacked">Fecha de Finalización de Selección*</ion-label>
<div style="display: flex;">
  <ion-input class="generic-input" fill="outline" formControlName="fechaFinSeleccion" placeholder="Fecha de finalización de selección"
    (click)="openDatetimeModal('fechaFinSeleccion')"></ion-input>
  <ion-button fill="clear" (click)="openDatetimeModal('fechaFinSeleccion')">
    <ion-icon name="calendar-outline"></ion-icon>
  </ion-button>
</div>

<div *ngIf="form.errors?.['fechaFinSeleccionInvalida']" style="color: red; margin-top: 5px;">
  La fecha de finalización de selección no puede ser menor que la fecha de inicio de selección
</div>

  <ion-item style="display: flex; justify-content: space-between; align-items: center;">
    <div style="margin-right: 86px;">
      <ion-label style="margin: 0;">Cantidad Máxima de</ion-label>
      <ion-label style="margin: 0;">Postulantes*</ion-label>
    </div>
    <ion-select formControlName="cantidadMaxPost" interface="popover" placeholder="0" style="width: 100px;">
      <ion-select-option *ngFor="let i of [].constructor(501); let index = index" [value]="index">{{ index }}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="button-container" style="margin-top: 80px;">
    <ion-button class="secondary-button" routerLink="/login/register/register-convocatoria">Cancelar</ion-button>
    <ion-button class="main-button" (click)="openModal()" [disabled]="!this.form.valid">Crear</ion-button>
  </div>

</ion-content>