<app-header backButton="/login"></app-header>
<ion-content class="ion-padding">
  <h1 fxLayoutAlign="center">Empresa o Estudiante</h1>
  <div class="user-selection">
    <ion-card  class="selection-card" routerLink="/login/register/register-company">
      <ion-icon class="icon-select" name="business-outline"></ion-icon>
    </ion-card>

    <ion-card class="selection-card" routerLink="/login/register/register-company">
      <ion-icon class="icon-select" name="person-circle-outline" ></ion-icon>
    </ion-card>
  </div>
</ion-content>
