ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #060A30;
  color: white;
  height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #060A30;
}

.user-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}


.selection-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}


.selection-card[routerLink="/login/register/register-company"] {
  background-color: #A90B71;
}


.selection-card[routerLink="/login/register/register-postulante"] {
  background-color: #060A30;
  border: 2px solid #A90B71; 
}


.icon-select {
  font-size: 3rem;
  color: #ffffff;
}

.selection-card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.4rem;
  }

  .user-selection {
    flex-direction: column;
    gap: 10px; 
  }

  .selection-card {
    width: 100px;
    height: 100px;
  }

  .icon-select {
    font-size: 2.5rem;
  }
}

.uwu {
  text-align: center;
}
