<ion-header>
  <ion-toolbar>
    <ion-title>Editar Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="actualizarEmpresa()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="empresa?.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input [(ngModel)]="empresa?.ubicacion" name="ubicacion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagen URL</ion-label>
      <ion-input [(ngModel)]="empresa?.imagen" name="imagen" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">NIT</ion-label>
      <ion-input [(ngModel)]="empresa?.nit" name="nit" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!empresa">Guardar Cambios</ion-button>
  </form>
</ion-content>
