.container-mostrar-convocatoria {
    padding: 20px;
    height: 100%;
}
.container-mostrar-convocatoria h1{
    font-size: 24px !important;
font-weight: bold;
}
.container-mostrar-convocatoria p{
    font-size: 20px;
}
.container-mostrar-convocatoria img{
    width: 70%;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
}
.container-mostrar-convocatoria ion-icon{
    font-size: 20px;
    color: #060A30;
    transition: transform 0.2s ease, color 0.2s ease;
}
.container-mostrar-convocatoria ion-icon:hover {
    transform: scale(1.2);   
    color: #046B20;
}

.container-mostrar-convocatoria ion-buttons{
    height: fit-content;
    display: flex;
    justify-content: center; 
    gap: 10px;                
}

.container-mostrar-convocatoria ion-button{
    --background: #060A30; 
    --color: white;  
    --border-radius: 15px;
    --padding-top: 15px;
    --padding-bottom: 15px; 
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, background-color 0.3s ease;              
}

.container-mostrar-convocatoria ion-button:hover {
    transform: scale(1.05); 
    --background: #046B20;  
}


