<app-header logged="true"></app-header>
<ion-content class="container-postulant">
  <div class="container-postulant-img" *ngIf="showTable">
    <ion-item *ngFor="let convocatoria of convocatoriaList" [routerLink]="['./mostrar-convocatoria-postulante', convocatoria.id]">
      <ion-label *ngIf="convocatoria" class="label-home">
        <img [src]="convocatoria.empresa.imagen" alt="Uploaded Image" />
        <div>
          <p>{{convocatoria.empresa.nombre}}</p>
          <h2>{{convocatoria.titulo}}</h2>
          <div fxLayout="row" fxLayoutAlign="center center" style="gap: 20px;" class="mini-menu">
            <ion-icon name="calendar-clear-sharp"></ion-icon>
             <p>{{convocatoria.fechaInicioReclutamiento}} - {{convocatoria.fechaFinReclutamiento}}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" style="gap: 20px;" class="mini-menu">
            <ion-icon name="calendar-clear-sharp"></ion-icon>
            <p>{{convocatoria.fechaInicioSeleccion}} - {{convocatoria.fechaFinSeleccion}}</p>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
<app-bottom-menu></app-bottom-menu>
